<div class="box bike">
  <div class="title" style="background-image: url(<%= listing.image.url%>);">
    <h2><%= listing.title %></h2>
  </div>
  <div class="body">
    <div class="description">
      <p><%= listing.description %></p>
      <div class="price">
        <span>$<%= listing.price %></span>
      </div>
    </div>
    <div class="info">
      <div>
        <strong>Tipo</strong>
        <span><%= listing.listing_type %></span>
      </div>
      <div>
        <% if current_user && listing.store.admin?(current_user) %>
          <%= link_to('Editar producto', edit_listing_path(listing)) %>
        <% else %>
          <%= link_to('Ver más información', listing_path(listing)) %>
        <% end %>
      </div>
      <div>
        <!-- <%= link_to('Agregar a mi canasta', add_to_car_listing_path(listing), :class => 'btn btn-inverse')  %> -->
      </div>
    </div>
  </div>
</div>
