<%= form_for(@store, :html => {:multipart => true}) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nombre de tu tienda' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :store_type, 'Especialidad' %><br>
    <%= f.text_field :store_type %>
  </div>
  <div class="field">
    <%= f.label :description, 'Descripción' %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :address, 'Dirección' %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone_number, 'Número telefónico' %><br>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :contact_email, 'Email de contacto' %><br>
    <%= f.text_field :contact_email %>
  </div>

  <div class="field">
    <%= f.label :location, 'Ciudad' %><br>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :delivery_options, 'Formas de envío' %><br>
    <%= f.text_area :delivery_options %>
  </div>

  <div class="field">
    <%= f.label :payment_options, 'Formas de pago' %><br>
    <%= f.text_area :payment_options %>
  </div>

  <div class="field">
    <%= f.label :image, 'Agrega una image para tu tienda' %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <%= f.submit 'Guardar' %>
  </div>
<% end %>
