<div class="box bike <%= store.store_type %>">
  <div class="title" style="background-image: url(<%= store.image.url %>);">
      <h2><%= store.name %></h2>
  </div>
  <div class="body">
        <div class="description">
            <p><%= store.description %></p>
            <% show_details ||= false %>
            <div class="price">
              <% if show_details %>
                <%= store.address %> - <%= store.phone_number %> -
                <%= store.contact_email %>
              <% else %>
                <%= pluralize(store.listings.count, 'producto') %>
              <% end %>
            </div>
        </div>
        <div class="info">
            <div>
                <strong>Ciudad</strong>
                <span><%= store.location %></span>
            </div>
            <div>
              <strong>Especialidad</strong>
              <span><%= store.store_type %></span>
            </div>
            <div>
              <% if store_page %>
                <% if current_user && store.admin?(current_user) %>
                  <%= link_to('Editar mi tienda', edit_store_path(store),:class => 'btn btn-inverse') %>
                <% else %>
                  <%= link_to('Ver detalles de la tienda', '#', :class => 'btn btn-inverse')  %>
                <% end %>
              <% else %>
                <%= link_to('Visita esta tienda', store_path(store),:class => 'btn btn-inverse') %>
              <% end %>
            </div>
        </div>
    </div>
</div>
